body
  +norms
  +base-text
  line-height: $base-lh
  color: $base-text-color
  font-variant-ligatures: none

main
  overflow: hidden

html, body
  height: 100%

body.no-scroll
  overflow: hidden
  width: 100%
  height: 100vh
  position: fixed
